@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@400;500;600;700&display=swap');

.btn {
    padding: 0.375rem 2rem;
}

.body {
    font-family: 'Lato', 'Raleway'
}

.row {
    margin:auto;
}